/**
 * Plugin main SASS
 */
/**
 * Plugin variables
 */
/**
 * SASS shared across applet
 */
ion-content {
  background: #f5f5f5; }

.item-divider {
  background: transparent; }

i.icon {
  color: #aaaaaa; }

#detail .button-buy {
  float: right; }
