#home {
  /*
   * Allow the ion-content div to fill the space vertically.
   * See https://forum.ionicframework.com/t/fill-content-container/605/11
   */
  /*
   * Override Ionic pager style.
   */
  /*
   * Navigation bar.
   */
  /*
   * Don't dim when the button is clicked.
   */ }
  #home .applet-content.scroll-content > .scroll {
    height: 100%; }
  #home .applet-slide-box {
    width: 100%;
    height: 100%; }
  #home .applet-slide-box .slider-pager {
    bottom: 12px !important; }
  #home .applet-slide-box .slider-pager-page {
    font-size: 10px;
    width: 10px !important;
    color: #172B54 !important; }
  #home .applet-navbar {
    background: #172B54;
    border-bottom: 1px solid #6D6E70; }
  #home .applet-navbar-title {
    font-size: 14px !important;
    color: #FFFFFF; }
  #home .applet-navbar-button {
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: normal !important;
    text-transform: none !important;
    background-color: transparent !important; }
  #home .applet-navbar-button .icon:before,
  #home .applet-navbar-button.icon:before {
    font-size: 20px !important; }
  #home .button.applet-icon-left:before,
  #home .button.applet-icon-right:before {
    display: inline-block;
    padding-bottom: 1px;
    vertical-align: inherit;
    font-size: 24px;
    line-height: 33px;
    pointer-events: none; }
  #home .button.applet-icon-left:before {
    float: left;
    padding-right: .2em !important;
    padding-left: 0 !important; }
  #home .button.applet-icon-right:before {
    float: right;
    padding-left: .2em !important;
    padding-right: 0 !important; }
  #home .button-clear.activated,
  #home .button-clear.active {
    opacity: 1.0 !important; }
