<ion-view id="session-log">
  <ion-nav-bar class="bar bar-dark">
    <ion-nav-title>{{'Settings' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
		<ul class="list">
      <div class="item item-divider"></div>
			<div class="item">
		    {{'Version' | translate}}
		    <span class="item-note">
		    	{{version}}
		    </span>
		  </div>
			<div class="item item-icon-left item-icon-right" ng-click="openExternalLink(git)">
        <i class="icon" ng-class="git.icon"></i>
        <span>
          {{git.itemName}}
        </span>
		    <span class="item-note">
		    	{{commitHash}}
		    </span>
				<i class="icon ion-ios-arrow-right"></i>
		  </div>
      <div class="item item-divider"></div>
			<div class="item item-icon-right" ng-class="{'item-icon-left': get(link).icon}" ng-click="openExternalLink(externalLinks[link])" ng-repeat="link in links">
        <i class="icon" ng-class="get(link).icon"></i>
        <span>
          {{externalLinks[link].itemName}}
        </span>
				<i class="icon ion-ios-arrow-right"></i>
		  </div>
      <div class="item item-divider"></div>
			<div class="item item-icon-right" ui-sref="sessionLog" translate>
		    Session Log
				<i class="icon ion-ios-arrow-right"></i>
		  </div>
		</ul>
  </ion-content>
</ion-view>
