<ion-view id="home">
  <ion-nav-bar class="bar bar-dark">
    <ion-nav-title>{{appletName}}</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        All Movies
      </div>
      <a class="item item-thumbnail-left item-icon-right" ui-sref="detail({id: movie.id})" ng-repeat="movie in movies">
        <img ng-src="img/movies/{{movie.id}}/thumbnail.png">
        <h2>{{movie.title}}</h2>
        <p>{{movie.episode}}</p>
        <p>{{movie.year}}</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
